@import "../../variables";

.buttons-block {
    display: flex;
    align-items: center;

    &.button:first-child{
        margin: 0;
    }
}
.button {
    margin-left: 5px;
    font-family: $main-font;
    text-transform: uppercase;
}