@import "../../variables";

.buttons-block {
    display: flex;
    align-items: center;

    &.button:first-child{
        margin-left: 0;
    }
}
.button {
    margin-left: 10px;
    font-family:  $main-font;
    text-transform: uppercase;
}