<div class="buttons-block" *ngIf="user.isAuthorized">
    <st-common-button class="button" (clicked)="onProfileBtnClick()">{{user.userName}}</st-common-button>
    <st-link-button [link]="'/admin-panel'" *ngIf="user.getUserRole() === 'admin'" [isSmall]="true" class="button">Панель администратора</st-link-button>
</div>
<div class="buttons-block" *ngIf="!user.isAuthorized">
    <st-link-button [link]="'/account/login'" class="button">Войти</st-link-button>
    <st-link-button [link]="'/account/register'" class="button">Регистрация</st-link-button>
</div>