<div class="auth-wrapper" #wrapper>
    <div class="container">
        <div class="auth___container">
            <div class="auth__wrapper">
                <h2 class="auth__heading">Регистрация</h2>
                <form [formGroup]="service.formModel" #form="ngForm"
                    class="auth__form" autocomplete="off"
                    (ngSubmit)="onSubmit()">
                    <input formControlName="UserName" class="auth__input-text" placeholder="Логин">
                    <span class="validation-error-msg" *ngIf="service.formModel.get('UserName')?.touched && service.formModel.get('UserName')?.errors?.required">Это поле обязательно для ввода</span>
                    <input formControlName="Email" class="auth__input-text" placeholder="Почта">
                    <span class="validation-error-msg" *ngIf="service.formModel.get('Email')?.touched && service.formModel.get('Email')?.errors?.required">Это поле обязательно для ввода</span>
                    <span class="validation-error-msg" *ngIf="service.formModel.get('Email')?.touched && service.formModel.get('Email')?.errors?.email">Неверный email</span>
                    <div formGroupName="Passwords" class="passwords">
                        <input formControlName="Password" type="password" class="auth__input-text" placeholder="Пароль">
                        <span class="validation-error-msg" *ngIf="service.formModel.get('Passwords.Password')?.touched && service.formModel.get('Passwords.Password')?.errors?.required">Это поле обязательно для ввода</span>
                        <span class="validation-error-msg" *ngIf="service.formModel.get('Passwords.Password')?.touched && service.formModel.get('Passwords.Password')?.errors?.minLength">Минимальная длина пароля: 6 символов</span>
                        <input formControlName="ConfirmPassword" type="password" class="auth__input-text" placeholder="Подтвердите пароль">
                        <span class="validation-error-msg" *ngIf="service.formModel.get('Passwords.ConfirmPassword')?.touched && service.formModel.get('Passwords.ConfirmPassword')?.errors?.required">Это поле обязательно для ввода</span>
                        <span class="validation-error-msg" *ngIf="service.formModel.get('Passwords.ConfirmPassword')?.touched && service.formModel.get('Passwords.ConfirmPassword')?.errors?.passwordMismatch">Пароли не совпадают</span>
                    </div>
                    <div class="auth__input-block">
                        <st-common-button [class.disabled]="form.invalid" class="auth-btn" (clicked)="onSubmitBtnClick()">Регистрация</st-common-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>