<div class="auth-wrapper" #wrapper>
    <div class="container">
        <div class="auth___container">
            <div class="auth__wrapper">
                <h2 class="auth__heading">Регистрация</h2>
                <form asp-area=""
                      asp-controller="Account"
                      asp-action="Register"
                      method="post"
                      asp-route-returnUrl="@ViewBag.returnUrl"
                      class="auth__form"
                      autocomplete="off">
                    <div class="error-message" asp-validation-summary="All"></div>

                    <input asp-for="UserName" class="auth__input-text" placeholder="Логин">
                    <input asp-for="Email" class="auth__input-text" placeholder="Почта">
                    <input asp-for="Password" class="auth__input-text" placeholder="Пароль">
                    <input asp-for="ConfirmedPassword" class="auth__input-text" placeholder="Подтвердите пароль">
                    <div class="auth__input-block">
                        <st-common-button   class="auth-btn">Регистрация</st-common-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>