<div class="auth-wrapper" #wrapper>
    <div class="container">
        <div class="auth___container">
            <div class="auth__wrapper">
                <h2 class="auth__heading">Регистрация</h2>
                <form [formGroup]="service.formModel" #form
                    class="auth__form" autocomplete="off"
                    (submit)="onSubmit()">
                    <input formControlName="UserName" class="auth__input-text" placeholder="Логин">
                    <input formControlName="Email" class="auth__input-text" placeholder="Почта">
                    <div formGroupName="Passwords" class="passwords">
                        <input formControlName="Password" type="password" class="auth__input-text" placeholder="Пароль">
                        <input formControlName="ConfirmPassword" type="password" class="auth__input-text" placeholder="Подтвердите пароль">
                    </div>
                    <div class="auth__input-block">
                        <st-common-button class="auth-btn" (clicked)="onSubmitBtnClick()">Регистрация</st-common-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>