<div class="text-write-wrapper" #wrapper>
    <div class="container">
        <div class="screen">
            <div class="text-write-body">
                <st-text-write-text-box [text]="text" #textBox class="st-text-box" (currentlinechanged)="lineChanged($event)" (textchangedfirst)="textChangedFirst()" (newvalidcharacter)="newCorrectCharacter()" (textcompleted)="stopAll()"></st-text-write-text-box>
                <p class="text-write__actual-string">{{currentLine}}</p>
            </div>
            <div class="text-write__timer-info-wrapper">
                <st-text-write-cpm-meter class="text-write__cpm-text" #cpmMeter></st-text-write-cpm-meter>
                <st-text-write-timer class="text-write__timer-text" #timer></st-text-write-timer>
            </div>
        </div>
    </div>
</div>