@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import "./components/variables";

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    color: black;
    outline: none;
    text-decoration: none;
    list-style-type: none;
}
body{
    height: 100%;
    min-height: 100vh;
    overflow-y: hidden;
}
input{
    outline: none;
    border: none;
}
.container{ 
    width: 100%;
    max-width: 1120px;
    height: 100%;
    margin: auto;
}
.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.main{
    display: block;
    flex: 1 1 auto;
}
.srollable{
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
.uppercased-and-normal-font{
    text-transform: uppercase;
    font-family: $main-font;
}