@import "../../../variables";

.popup-warpper {
}
.center {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;

    &-active {
        animation: FromTopToCenter .4s linear forwards;
    }

    &-disactive {
        animation: FromCenterToTop .3s linear forwards;
    }
}
.popup-hidden{
    pointer-events: none;
    visibility: hidden;
}

@keyframes FromTopToCenter{
    0% {
        top: 25%;
        opacity: 0;
    }
    100% {
        top: 50%;
        opacity: 1;
    }
}
@keyframes FromCenterToTop{
    0% {
        top: 50%;
        opacity: 1;
    }
    100% {
        top: 25%;
        pointer-events: none;
        opacity: 0;
    }
}

.text-selection__popup {
    background-color: var(--bg-color);
    padding: 20px;
    border: 2px var(--sub-bg-color) solid;
    border-radius: 3px;
    min-height: 500px;
    min-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-selection__close-button {
    font-family: $material-font;
    color: var(--text-color);
    font-size: 24px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: inline-block;
    user-select: none;
    cursor: pointer;
    opacity: .4;

    transition: all .1s linear;
    &:hover{
        font-size: 32px;
        opacity: 1;
    }
}

.blur-screen {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100vh;
    width: 100vw;

    &-active {
        pointer-events: all;
        animation: blur .5s linear forwards;
    }

    &-disactive {
        pointer-events: none;
        animation: back-blur .3s linear forwards;
    }
}

@keyframes blur {
    0% {
        backdrop-filter: blur(0px);
        background-color: rgba(var(--bg-color-rgb), 0);
    }
    100% {
        background-color: rgba(var(--bg-color-rgb), .1);
        backdrop-filter: blur(50px);
    }
}
@keyframes back-blur {
    0% {
        backdrop-filter: blur(50px);
        background-color: rgba(var(--bg-color-rgb), .1);
    }
    100% {
        background-color: rgba(var(--bg-color-rgb), 0);
        backdrop-filter: blur(0px);
    }
}