<div #wrapper class="popup-warpper popup-hidden">
    <div class="blur-screen" #blur></div>
    
    <div class="text-selection__popup center" #popup>
        <div class="text-selection__close-button" (click)="closePopup()">
            close
        </div>
        <st-text-selection-settings #textSettings [hidden]="viewType !== 'TextSettings'"></st-text-selection-settings>
        <st-text-selection-properties [popupBody]="this" [hidden]="viewType !== 'TextSelectProperties'"></st-text-selection-properties>
    </div>
</div>