<!-- <div class="admin-panel__users" id="admin-panel__users">
    @if (UserManager.Users.Any())
    {
        foreach (var user in UserManager.Users)
        {
            <div class="admin-panel__user">
                <div class="user__info-block">
                    <div class="user__info-type">Имя пользователя:</div>
                    <div class="user__info-content">@user.UserName</div>
                </div>@*
                <div class="user__info-block">
                    <div class="user__info-type">
                        Хэш пароля:
                    </div>
                    <div class="user__text">
                    </div>
                </div>*@

                <div class="user__info-block">
                    <div class="user__info-type">Почта: </div>
                    <div class="user__info-content">@user.Email</div>
                    <div class="user__text">
                    </div>
                </div>

                <div class="user__info-block">
                    @{
                        var roles = await UserManager.GetRolesAsync(user);
                    }
                    @if (roles.Any())
                    {
                    <div class="user__info-type">Роли:</div>
                        @foreach (var role in roles)
                        {
                            <div class="user__info-content">@role</div>
                        }
                    }
                    else
                    {
                        <div class="user__info-type">
                            Роли отсутствуют
                        </div>
                    }
                    <div class="user__text">
                    </div>
                </div>
            </div>
        }
    }
</div> -->