<div class="auth-wrapper" #wrapper>
    <div class="container">
        <div class="auth___container">
            <div class="auth__wrapper">
                <h2 class="auth__heading">Вход</h2>
                <form class="auth__form"
                      autocomplete="off"
                      (ngSubmit)="onSubmit()"
                      #form="ngForm">
                    <input required #login="ngModel" name="login" [(ngModel)]="userLogin.userName" class="auth__input-text" placeholder="Логин">
                    <input required #password="ngModel" name="password" [(ngModel)]="userLogin.password" type="password" class="auth__input-text" placeholder="Пароль">
                    <div class="auth__bottom">
                        <div class="auth__remember-me">
                            <input type="checkbox" class="auth__check-box">
                            <div class="auth__remember-me-text">
                                Запомнить меня?
                            </div>
                        </div>
                        <st-common-button [class.disabled]="form.invalid" class="auth-btn" (clicked)="onSubmitBtnClick()">Вход</st-common-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>