<div class="personal-account">
    <div class="container">
        <div class="personal-account__content-wrapper">
            <div class="personal-account__body">
                <div class="personal-account__header">
                    <div class="personal-account__header-element"
                        #profileButton (click)="personalAccButtonClicked(0)">
                        Профиль
                    </div>
                    <div class="personal-account__header-element"
                        #progressButton (click)="personalAccButtonClicked(1)">
                        Прогресс
                    </div>
                    <div class="personal-account__header-element"
                        #personalizationButton (click)="personalAccButtonClicked(2)">
                        Персонализация
                    </div>
                </div>
                <div class="personal-account__main">
                    <div class="personal-account__profile-blcok personal-account__block"
                        #profileBlcok>
                        <div class="personal-account__main-info-block">
                            <div class="personal-account__main-info-block-title">
                                Логин:
                            </div>
                            <input type="text" class="personal-account__main-info-block-content" value="@Model.UserName" />
                        </div>
                        <div class="personal-account__main-info-block">
                            <div class="personal-account__main-info-block-title">
                                Почта:
                            </div>
                            <input type="text" class="personal-account__main-info-block-content" value="@Model.Email" />
                        </div>
                        <div class="personal-account__block-footer">
                            <div class="personal-account__block-footer-buttons">
                                <st-common-button class="uppercased-and-normal-font">Сохранить изменения</st-common-button>
                                <st-common-button class="uppercased-and-normal-font" (clicked)="logoutBtnClick()" [isSmall]="true">Выход</st-common-button>
                            </div>
                        </div>
                    </div>
                    <div class="personal-account__progress-blcok personal-account__block"
                        #progressBlcok>
                        <st-progress-block></st-progress-block>
                    </div>
                    <div class="personal-account__personalization-blcok"
                        #personalizationBlcok>
                        not available now
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>