<div class="admin-panel">
    <div class="container">
        <h2 class="admin-panel__heading">
            Панель администратора
        </h2>
        <div class="admin-panel__buttons">
            <st-common-button [isNormalBg]="true" class="admin-panel__button">
                Тексты
            </st-common-button>
            <st-common-button [isNormalBg]="true" class="admin-panel__button">
                Пользователи
            </st-common-button>
        </div>
        <st-admin-panel-texts></st-admin-panel-texts>
    </div>
</div>