<div class="text-edit">
    <div class="container">
        <div class="text-edit__body">
            <div class="text-edit__wrapper">
                <form method="post" autocomplete="off" #form="ngForm"
                    [formGroup]="textCreateService.formModel" (ngSubmit)="onSubmit()">
                    <h2 class="text-edit__heading">
                        {{oldName}}
                    </h2>
                    <input formControlName="Title" placeholder="Название текста" class="text-edit__edit-title-input">
                    <div class="text-edit__text-wrapper">
                        <textarea formControlName="Content" placeholder="Содержание" class="text-edit__textarea" id="textEditTextarea"></textarea>
                    </div>
                    <div class="text-edit__text-wrapper">
                        <div class="text-edit__character-edit-wrapper" #wrapper></div>
                        <div class="text-edit__character-edit-buttons">    
                            <st-common-button [isSmall]="true" class="select-btn uppercased-and-normal-font" (clicked)="addCharactersToReplace()">Добавить текст для изменения</st-common-button>
                            <st-common-button [isSmall]="true" class="select-btn uppercased-and-normal-font" (clicked)="changeText()">Изменить</st-common-button>
                         </div>
                    </div>
                    <div class="text-edit__text-wrapper">
                        <div class="language-block">
                            <div class="language-text">Язык:</div>
                            <label class="select" for="language">
                            <select id="language" formControlName="LanguageId">
                                <option [ngValue]="0" disabled selected>Выберете язык</option>
                                <option [ngValue]="1">Русский</option>
                                <option [ngValue]="2">Английсский</option>
                            </select>
                            <svg>
                                <use xlink:href="#select-arrow-down"></use>
                            </svg>
                            </label>
                            <svg class="sprites">
                                <symbol id="select-arrow-down" viewbox="0 0 10 6">
                                    <polyline points="1 1 5 5 9 1"></polyline>
                                </symbol>
                            </svg>
                        </div>
                    </div>
                    <st-common-button [isNormalBg]="true" (clicked)="onSubmitBtnClick()" class="save-btn uppercased-and-normal-font">Сохранить</st-common-button>
                </form>
            </div>
        </div>
    </div>
</div>