<div class="text-selection__popup-wrapper">
    <div class="text-selection__popup-heading">
        Настройка выбранного текста
    </div>
    <div class="text-selection__item-text-name text-selection__popup-text-title" #title>
        {{text?.title || ""}}
    </div>
    <div class="text-selection__popup-text-size">
        <div class="text-selection__popup-character-count">
                Размер текста: {{currentTextModeName}} - {{currentTextModeLength}}
        </div>
        <input class="text-selection__popup-slider" id="popup-slider"
                #slider
                type="range" min="1" max="5" value="5"
                (input)="updateSize()"/>
    </div>
    <st-common-button [isNormalBg]="true" class="select-btn" (clicked)="textChoosed()">Выбрать</st-common-button>
</div>