@import "../../../variables";

.text-write__text-box {
    background-color: transparent;
    padding: 5px;
    overflow: hidden;
    font-family: $main-font;
    color: var(--text-color);
    margin: 0 auto;
    width: 75%;
    min-width: 400px;

    &-normal {
        border-bottom: 2px var(--text-color) solid;
        background-color: transparent;
    }
    &-error {
        border-bottom: 2px red solid;
        background-color: rgba(255, 0, 0, .4);
    }
    &-all-correct {
        border-bottom: 2px green solid;
        background-color: rgba(0, 255, 0, .4);
    }
}